.sys-two-column-layout{
    height: 100%;
    display: flex;
    .sys-two-column-layout-split{
        width: 10px;
        height: 100%;
        background-color: #f3f3f3;
        .arrow-left,
        .arrow-right {
            width: 9px;
            height: 48px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 9;
        }
        .arrow-left{
            display: none;
            left: -9px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAxCAYAAADjjzjTAAAACXBIWXMAAAsSAAALEgHS3X78AAABTElEQVQ4je2VQWqDQBSG/3mMaIMhHRIkbkJXXWfZRRe5QO/QRekZeo6ueoUeoOfo+h0gIAGVQAiIZixP2sFUY7pvflBRP/83T+bnqbqu0SdmXgJYBkGwkte6zTDzNRG9AHgGYIgIchyBzLxSSn0AuDLGqPF4DN/3nUlT+rvM52QyQRRFzqWtxpGI3sVhPp/3rrdh5GStvRWnIbkafeU6jn/RBbyA2G63KIpiGNzv90iSBGVZngbFZb1eQ2IRhmE/aK1toNFo1InFEbjZbHA4HBDH8XAzxhj3wSAoOV4sFk3HeZ6fBn9gWZ+47nY791z/BkXSsfyadjJ7QdFsNhsufUoX8B+CkpezIBGlWZadB621T2madrZ/W266MvOjUupNa+1Pp1PIJGvv8KMxzMw3WuvXqqoe5F7y43lec+2d1zKOAayI6I6I7uu6Dr8Asfd2IpZ6/oEAAAAASUVORK5CYII=) no-repeat center center;
        }
        .arrow-right {
            display: block;
            left: 10px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAxCAYAAADjjzjTAAAACXBIWXMAAAsSAAALEgHS3X78AAABfUlEQVQ4je2Vv07DMBDGz07blClLVVGqdqlUbzwBAwMvwDswMTMzd2RigYdgYKePADsDVIkaVaGhf5QoNvahixTUNE3zAPRbTrF/ubOj+3LMdd1TKeW1lNIHgA8AGAshKObEgiC4iqLogRajKEr3OOdfnPPbwWBwn8EMEc8B4CVbSJIEwjCE1WqFjLFPrfWlEOK1AGZSSoHv+xDHcYyIJ3wbyFSv16HX60Gj0TiyLOuxFMzUarUoXFSCnHPQWjuV4N8LB/B/govFIu3wSpCgyWSyE86B7XYbms0mTKdTMMbs/+DdbjeNnuftB6mjO51Oal1yYylIotK2bYPjOOUgWZSs2u/30+w7wSAIyPgFqACSl+nmVHZbtc2HzTMVLlm6s6UDeABzYowlleB8Plec8+dcP26K7DqbzchkP4h4UwDJL+v1mjIZrTWNtzOatrXlcnkspaSZR4Mn/UvQmRhjd4g4EkJ8U4JaGIaeUurNsqx3Y4wLAE/D4XCcKwMAv1hVtkWyVUXXAAAAAElFTkSuQmCC) no-repeat center center;
        }
        &:hover .arrow-left {
            display: block;
        }
    }
    .sys-two-column-layout-right{
        flex: 1;
    }
    .sys-two-column-layout-left-panel{
        height: 100%;
        padding-right: 2px;
        padding-top: 1px;
    }
    .sys-two-column-layout-right-panel{
        height: 100%;
        padding-left: 2px;
        padding-top: 1px;
    }
}

