.sys-two-row-layout{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .sys-two-row-layout-top{
        flex: 1;
    }
    .sys-two-row-layout-split{
        height:10px;
        position: relative;
        background-color: #f3f3f3;
        .arrow-top,
        .arrow-bottom {
            position: relative;
            height: 10px;
            width: 48px;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            z-index: 1;
        }
        .arrow-top {
            display: block;
            top: -9px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAKCAYAAAAdIbZyAAAACXBIWXMAAAsSAAALEgHS3X78AAABSElEQVQ4jdWVz0rDQBDGZ5auwdDQ9hAIhGwrIosnfQEfRE/iSXwRfRNfKaEIklBoeokhUAnbZmQWE7z05OKfDzZZdmFmft9kN0hE8N816uvPsmwqhHjsuu7+LzMh4jMRPWit34a1vhPL5TIDgLM4jtH3/d+s86C22y2UZflujHkhoqseRHwCPDGAUsopQF3XUFWVs3hc23w+P0bEc/5q+nVM03SKiGUYhkez2cxZws1mMwBMJhOIoshZbDZnvV7z9ERr/cqduEVEyYlcqOs6WK1WNlGSJLBYLKBpGiiKwu65ENcqpeRxx+GElPI6CAIUQnw7PBeZ5zm0bQtKKdt+z/MsyH6/t3vGGCcg4/GYXzf8GO12uwtO5EJsBLvE46sp7BpDcXd47kJsUFVVpxaCiDxXEKxD54qhXJ653iT7a3AW9Yc13KIAlx+inXcZUqLMHgAAAABJRU5ErkJggg==) no-repeat center center;
        }
        .arrow-bottom {
            display: none;
            top: 10px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAKCAYAAAAdIbZyAAAACXBIWXMAAAsSAAALEgHS3X78AAABX0lEQVQ4jc2UvWrDMBSFj1zZGRLibI4xBA8BrZ1aOvUVOnbsM3Vo1459jE6dm82O8RRCjJfUIfinRla5wmQJLZSI0ANGFkLn3u9INouiKByPx6++79c4v95OqVhV1STP8wkHEO52u2vP82BZ1rkpbk/ZrJRCXdewhBA6DZqYUtd1Pzr9tvZXtW2rd+joGWNN0zTGjJMkQVEUR2t5niNNU2Mg1DPnPNYQnPNFWZZGjG3bxnQ6RZZl+kGf/nq91mC+7xu7tvv9noZ3+iYovee2ba8oRWriVLmuq32ocfKUUmqQ2WyGwWBgBIBC76/TI6OPg7RcLrPhcOgFQWCkCPrj3mw2+p0ATP44VqsV+S/m8/nlwVUpdU/Hs91ujRWi1Kl50wB0TauqaqSUdzQ/nAQpjuMHxtiT4zjOaDS6MFbVoIqi6KSUX0qpGyHExxFEDxICIMLJf4QA8AngRQhBIwDgG0risDT1iXFIAAAAAElFTkSuQmCC) no-repeat center center;
        }
        &:hover .arrow-bottom {
            display: block;
        }
    }
}